html
  include index.pug
    br
    br
    title Check Out 
    link(rel="stylesheet" href="../css/bootstrap.css")
  body
    div(class="container")
        form(action="/check-out", method="post")
            div(class="form-group")
                label(for="employee") Select employee: 
                select(id="employee", class="form-control", name="shellID")
                    each employee in employees
                        option(value=employee.shellID) #{employee.name}

            button(type="submit" class="btn btn-primary btn-sm") Submit
