doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0 shrink-to-fit=no')
  title Home Page
  link(rel='stylesheet' href='../css/bootstrap-grid.css')
  link(rel='stylesheet' href='../css/bootstrap.css')
.container.mx-auto
  nav.nav
    a.nav-link.active(href='/all-rooms') See all rooms
    a.nav-link(href='/available-rooms') See available rooms
    a.nav-link(href='/add-user') Add new user
    a.nav-link(href='/add-room') Add rooms
    a.nav-link(href='/check-in') Check in someone
    a.nav-link(href='/check-out') Check out someone
    a.nav-link(href='/remove-employee') Remove an employee 

